@import "tailwindcss";

@theme {
  --color-pln-blue: #0073B1;
  --color-pln-cyan: #00A2E0;
  --color-pln-yellow: #FFF301;
  --color-pln-red: #E42313;
  
  --color-background: #f8fafc; /* Slate-50 */
  --color-foreground: #0f172a; /* Slate-900 */
  --color-pln-light: #ebf8ff;

}

/* Custom Utilities if needed */
@layer utilities {
  .bg-pln-gradient {
    background: linear-gradient(135deg, #0073B1 0%, #00A2E0 100%);
  }
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
